{% extends "home/layout.html" %}
<head>
  {% block static %}

  {% endblock %}
</head>
<body>
  {% block body %}
      <main>
        <section id='left'>

        </section>
        <section id='right'>

        </section>
      </main>
  {% endblock %}


  <div class="gallary">
    {% block gallary %}

    {% endblock %}
  </div>
    

    {% block footer %}
      <div class="">
        <section id='bio'>

        </section>
        <section id='messages'>

        </section>

      </div>
    {% endblock %}
</body>
