<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>www.electroProgramming.com</title>
  <!--  <link rel='stylesheet' href="{% static 'tinymce/css/prism.css' %}" />     -->
    <link rel="stylesheet" href="{% static "/home/css/materialize.css" %}">
    <link rel="stylesheet" href="{% static "/home/css/materialize.min.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

      {% block static %}

      {% endblock %}
  </head>
  <body>
    <div class=" navbar-fixed">
      <nav class="deep-purple lighten-1 nav-wrapper" >
        <a href="#" class="brand-logo"><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2ygrzMrma-glm1kzgK6GRCEd5gvscFdxdIaCeaM8cmGGjHxSM&amp;s" height="65px" width="150px"></a>
        <a href='#' class="sidenav-trigger" data-target="mobile-link"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><div class="row">
          <div class="input-field col s8">
            <i class="large material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">Search</label>
          </div>
        </div>
        </li>
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="/electronics/">Electronics Basics</a></li>
        <li><a href="/programming/">Programming Basics</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/entertainment/">Entertainment</a></li>
        <li><a href="/about_me/">About Me</a></li>

        <li><a href="#sign_in">{% block LogIn %}{% endblock %}</a></li>
        <li><a href="#sign_up">{% block  SignUp %}  {% endblock %}</a></li>
        </ul>
      </nav>
    </div>

      <ul class="sidenav" id="mobile-link">
      <li>  <div class="row">
      <div class="input-field col s9">
        <i class="large material-icons prefix">search</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Search</label>
      </div>
      </div>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/electronics/">Electronics Basics</a></li>
      <li><a href="/programming/">Programming Basics</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/entertainment/">Entertainment</a></li>
      <li><a href="/about_me/">About Me</a></li>
      </ul>

      {% block body %}

      {% endblock %}

      <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l6 ">
                <a class='dropdown-button btn' href='#' data-activates='countDropdown'>Languages</a>
                  <ul id='countDropdown' class='dropdown-content'>
                      <li><a href="#!">Tigrigna</a></li><li class="divider"></li>
                      <li><a href="#!">Amharic</a></li><li class="divider"></li>
                      <li><a href="#!">English</a></li><li class="divider"></li>
                    </ul>
              </div>
            <div class="col s12 m12 l6">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">yonasyifter@gmail.com</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">admas tube</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2020 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">yonas yifter</a>
          </div>
        </div>
      </footer>
      <script>
            document.addEventListener('DOMContentLoaded',()=>{
              element = document.querySelector('.sidenav');
              M.Sidenav.init(element,{edge:'left',draggable:true,preventScrolling:true});
      });
      </script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'>  </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='{% static "/home/js/materialize.js" %}'></script>
    <script src='{% static "/home/js/materialize.min.js" %}'></script>
  </body>
</html>
