{% extends "home/layout.html" %}
{% load static %}
<head>
  {% block static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  {% endblock %}
</head>
<body>
  {% block body %}
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l8  ">
          {% for data in python %}
              <h2  class="alert alert-success center">{{data.title}}</h2>
              <p>
                {{data.explain|safe}}
              </p>
              {{data.video|safe}}
          {% endfor %}
        </div>
          <div class=" col s12 m12 l4">
            <br /> <br />
            {% for data in  python  %}
            <div class="video-container">
              {{data.video|safe}}
            </div>
            {% endfor %}
            <ul class="collapsible popout" data-collapsible="accordion" style='font-size:85%; padding-left:50px'>
                <div class="card hoverable " style="max-width:400px; align-items: left;">
                      <div class="card-image">
                        <img id="process_click" class="responsive-img materialboxed" src="{% static "home/images/prog_header.jpeg" %}"/>
                      </div>
                </div>
                {% for data  in python  %}
                <li>
                <a href="#"><div class="collapsible-header">{{data.title}}</div></a>
                    <div class="collapsible-body">
                        <p><a href="#"><button class="btn waves-effect waves-light right-align" style="background-color:#FFD166; color:#000000">go</button></a></p>
                    </div>
              </li>
                {% endfor %}
          </ul>
          </div>
      </div>
    </div>
  {% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" charset="utf-8"></script>
  <script>
  document.addEventListener('DOMContentLoaded',()=>{
    var element = document.querySelector('.collapsible .poput');
     var ev = M.Collapsible.init(element, {
       accordion:true;
     });
     ev.open(3);
     ev.close(3);
  });

  </script>
</body>
