{% extends "home/layout.html" %}
<head>
  {% block static %}

  {% endblock %}
</head>
<body>
  {% block body %}
  <div class="container red lighten-4">
    <div class="row">
    {% for tutor, parts in  allSeries.items %}
      <div class="col s12 m12 l6">
        <a href="{{parts}}">
        <div class="card">
          <div class="card-image">
           {{tutor.sub_img|safe}}
          <a href="{{parts}}"><div class="btn-floating red  halfway-fab  pulse"> <i class='material-icons'>send</i></div> </a>
          </div>
          <div class="card-title">
            <p>
              {{tutor.sub_course}}
            </p>
          </div>
          <div class="card-content">
            {{tutor.sub_description}}
          </div>
        </div>
        </a>
      </div>
        {% endfor %}

      </div>
  </div>

  {% endblock %}
</body>
